.category{
  margin-top: 20px;
  display: inline-flex;
  flex-direction: column;
  vertical-align: top;
  width: 30%;

}
.items{
  margin-top: 20px;
  vertical-align: top;
  display: inline-flex;
  flex-direction: row;
  width: 60%;
  margin-left: 90px;

}
.wind{
  width: 90%;

}